*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    font-size: 62.5%;
    --pr-color: white;
    --color-ash: rgb(199, 197, 197);
}

body {
    overflow-x: hidden;
    font-family: poppins;
}

.container {
    width: 100vw;
    height: 100vh;
    background-image: url(/img/black-background.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    color: var(--pr-color);
}

.top-nav {
    background-color: black;
    display: flex;
    justify-content: space-between;
    font-size: 1.8rem;
    padding: 10px 5%;
}

.top-nav a {
    text-decoration: none;
    color: var(--color-ash, lightgray);
    position: relative;
}

.top-nav a::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    height: 0;
    width: 100%;
    background-color: var(--color-ash, lightgray);
    transition: height 250ms ease-out;
}

.top-nav a:hover::after {
    height: 2px;
}

.top-nav div a {
    margin-right: 70px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2.5rem 5%;
    position: relative;
}

nav:after {
    content: '';
    position: absolute;
    height: 1px;
    background-color: rgba(216, 213, 213,0.2);
    display: block;
    width: 100%;
    bottom: 0;
    left: 0;
}

.header-link{
    list-style: none;
}

.header-link a {
    text-decoration: none;
    color: var(--pr-color);
    font-size: 1.6rem;
    position: relative;
}

.header-link a::after {
    content: '';
    position: absolute;
    left: -25px;
    bottom: -4rem;
    height: 0;
    width: calc(100% + 50px);
    background-color: rgb(179, 152, 102);
    transition: height 250ms ease-out;
}

.header-link a:hover::after {
    height: 5px;
}

.header-link li {
    display: inline-block;
    padding-left: 60px;
}

.logo {
    width: 20%;
}

.fa-xmark,
.fa-bars {
    display: none;
    visibility: hidden;
    font-size: 3rem;
}

.section-text {
    width: 40vw;
    color: var(--pr-color);
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translateY(-50%);
    animation: move-right 1s linear 2s backwards;
}

.title {
    font-size: 6.4rem;
    margin-top: 30px;
    font-weight: 300;
    margin-bottom: .6em;
    line-height: 1.2;
    font-family: "Playfair Display",Georgia,serif;
    position: relative;
    animation: move-up .5s linear;
}

.title::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 45px;
    background-color: rgb(179, 152, 102);
    top: 25%;
    left: -70px;
}

.section-text p {
    font-size: 1.7rem;
    line-height: 1.7;
    font-weight: 200;
    color: var(--color-ash);
    animation: move-up .5s linear .7s;
}

.link-style {
    display: inline-block;
    text-decoration: none;
    font-size: 1.7rem;
    margin-top: 4rem;
    color: var(--color-ash);
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid rgb(179, 152, 102);
    animation: move-up .5s linear 1.2s;
}

.link-style::after {
    content: "➡️";  
    position: absolute;
    right: -35px;
    bottom: -13px;
    color: rgb(179, 152, 102);
    font-size: 32px;                                                                                                                                                                                                                                  
}

.link-style:hover::after {
    right: -40px;
    vertical-align: middle;
}











/* ...........second container.............. */

.sec-container {
    background-image: url(/img/white-background.jpg);
    --pr-color: black;
}

.sec-text h2,
.sec-text p,
.sec-text a{
    --pr-color: black;
    --color-ash: rgb(121, 120, 120);
}

.sec-container .section-text {
    left: 42%;
}

/* ..........third container............ */

.third-container {
    background-image: url(/img/small-black.jpg);
}

.third-text {
    left: 20%;
}

/* ..............fourth container......... */

.fourth-container {
    background-color: white;
    width: 90%;
    margin: auto;
    padding: 12rem 0;
}

.small-title {
    font-size: 2.5rem;
    margin-bottom: 1.5em;
    position: relative;
}

.small-title::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 2px;
    background-color: rgb(179, 152, 102);
    top: 50%;
    left: -40px;
}

.row {
    display: flex;
}

.box {
    flex-basis: 33.3%;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.box-img {
    position: absolute; 
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; 
    z-index: -1;
}
.box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.box-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .8;
    /* transition: opacity ease-in-out 700ms; */
}

.box:hover .fa-arrow-right-long {
    vertical-align: middle;
    font-size: larger;
}

.box-text {
    color: var(--pr-color);
    padding: 5rem 3.5rem 7em;
}

.box-text h3 {
    font-size: 2.4rem;
    margin-bottom: 1.2em; 
    font-weight: 400;
}

.box-text p {
    font-size: 1.9rem;
    margin-bottom: 10em;
    font-weight: 200;
}

.box-text .sector-p {
    margin-bottom: 8.5em;
}

.box:hover .box-img img {
    transform: scale(1.15);
    transition: 3500ms;
}


/* .......fifth container.............. */

.fifth-container {
    background-color: rgb(247, 245, 245);
    width: 100vw;
}

.inner {
    width: 90%;
    margin: auto;
    padding: 7% 0;
}

.fifth-container .row {
    background-color: white;
    display: flex;
    justify-content: space-between;
}

.fifth-container .box-text {
    color: black;
}

.food-box-img {
    flex-basis: 33%;
    position: relative;
    overflow: hidden;
}

.food-box-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 1500ms ease-in-out;
} 

.food-box-text {
    padding: 5% 2%;
    padding-right: 10%;
    flex-basis: 65%;

}

.food-box-text h3 {
    font-size: 3.5rem;
    font-weight: 500;
    margin-bottom: .5em;
}

.food-box-text p {
    font-size: 1.8rem;
    font-weight: 200;
}

.inner .row:hover .food-box-img img{
    transform: scale(1.15);
}

/* ........sixth container........ */

.sixth-container {
    height: 120vh;
    width: 100vw;
    background-image: url(/img/careers.jpg);
    border-bottom: 2px solid rgb(179, 152, 102);
    position: relative;
}

.sixth-text {
    color: var(--pr-color);
    width: 40%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 15%;
}

.sixth-text p {
    font-size: 1.6rem;
    color: var(--color-ash);
    line-height: 1.8;
}

/* ...........footer....... */

footer {
    width: 100vw;
    background-color: rgb(32,32,32);
    color: var(--pr-color);
    padding-top: 5%;
}

footer > p {
    width: 80%;
    /* margin: auto; */
    margin-left: 10%;
}

.location {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.location-left {
    flex-basis: 48%;
}

.location-right {
    flex-basis: 48%;
}

.state {
    font-size: 3rem;
    margin: 1em 0 1em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.location-text span{
    font-size: 2.6rem;
    font-weight: 600;
}

.social, .address {
    font-size: 2.4rem;
}

.social {
    margin: 1.2em 0 .8em;
}

.address {
    font-weight: 200;
}

.location-text span:hover,
.social:hover {
    color: rgb(179, 152, 102);
    transition: 300ms;
}

.map {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.map iframe {
    width: 48.5%;
    margin-top: 5rem;
}

.footer-bottom {
    width: 80%;
    margin: auto;
    padding: 3% 0 2%;
    font-size: 1.6rem;
}

.footer-logo {
    width: 25%;
    margin-bottom: 7em;
}

.privacy {
    display: flex;
    justify-content: space-between;
}

.privacy div {
    display: flex;
}

.privacy div p {
    color: rgb(179, 152, 102);
}

.privacy div p + p {
    border-left: 1px solid white;
}

.privacy div p {
    padding: 0 15px;
}














/* ............keyframes........... */

@keyframes move-up {
    0%{
        transform: translateY(30px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }                       
}

@keyframes move-right {
    0%{
        transform: translateX(-6%) translateY(-50%);
    }                                                                                                             
    100% {
        transform: translateX(0) translateY(-50%);
    }
}                                                                                                     



@media (max-width: 1024px) {
    .container .section-text {
        left: 15vw;
        width: 90vw;
    }
    .fourth-container .row{
        flex-direction: column;
    }
    .fourth-container {
        padding: 5rem 0;
    }
    .title {
        font-size: 5rem;
    } 
    .top-nav {
        display: none;
    }
    .header-link {
        display: none;
    }
    .logo {
        width: 25%;
    }
    .box-text h3 {
        margin-bottom: 0.6em; 
    }
    .box-text p {
        margin-bottom: 0;
        font-size: 1.7rem;
    }
    .box-text .sector-p {
        margin-bottom: 0;
    }
    .food-box-text h3 {
        font-size: 2.5rem;
        margin-bottom: .5em;
    }
    
    .food-box-text p {
        font-size: 1.4rem;
    }
    .small-title {
        margin-left: 40px;
    }
    .location {
        flex-direction: column;
    }
    footer > p {
        left: 10vw;
    }
    .map {
        flex-direction: column;
    }
    .map iframe {
        width: 97%;
    }
    .sixth-text {
        width: 70%;
    }
    .footer-bottom {
        width: 90%;
        font-size: 1.2rem;
    }

    .fa-bars {
        display: inline-block;
        margin-right: 2%;
        visibility: visible;
    }

    .header-link {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: rgb(162, 164, 165);
        z-index: 2;
        transition: top ease-in-out 500ms;
    }

    .header-link li {
        display: block;
        text-align: center;
        margin: 10% 0;
        padding-left: 0;
    }

    .header-link a {
        font-size: 2rem;
    }

    .fa-xmark {
        display: block;
        visibility: visible;
        margin: 5% 5% 8%;
        margin-left: 90%;
    }

    .logo{
        z-index: 5;
    }
}

@media (max-width:850px) {
    .container .section-text {
        margin: auto;
        width: 85vw;
        left: 10vw;
    }
    .title::before{
        left: -45px;
        width: 35px;
    }
}


@media (max-width:800px) {

    .small-title::before {
        display: none;
    }
    .small-title {
        font-size: 2.5rem;
        margin-left: 0;
    }
    
    .section-text p {
        font-size: 1.4rem;
    }
    .logo {
        width: 50%;
    }
    .link-style {
        margin-top: 6%;
        font-size: 1.4rem;
    }
    .fourth-container .title {
        margin-left: 40px;  
    }
    .box-text p {
        font-size: 1.4rem;
        line-height: 1.7;
    }
    .title {
        font-size: 4rem;
    }
}

@media (max-width:500px) {
    .box-text {
        padding: 2rem 1.5rem 1.5em;
    }
    .container .section-text {
        width: 90vw;
        left: 8vw;
    }
    .container .section-text {
        margin: auto;
        width: 85vw;
    }
    .section-text .title {
        font-size: 2.5rem;
    }
    .section-text p {
        font-size: 1.4rem;
    }
    .title::before{
        display: none;
    }
    .state {
        font-size: 2.5rem;
    }
    
    .location-text span{
        font-size: 2rem;
    }
    
    .social, .address {
        font-size: 2rem;
    }
    .footer-bottom {
        font-size: 1rem;
        line-height: 1;
        padding-bottom: 5px;
    }
    .food-box-text h3 {
        font-size: 1.8rem;
    }
    
    .food-box-text p {
        font-size: 1.5rem;
    }
    .sixth-text {
        left: 7vw;
        width: 85%;
    }
    .sixth-text h2 {
        font-size: 2.5rem;
    }
}